version: '3.8'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - RAILS_ENV=development
      - AI_ROUTING_URL=http://136.116.33.98:8000
      - REDIS_URL=redis://redis:6379/0
      - POSTGRES_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - REWARD_WALLET_PRIVATE_KEY=${REWARD_WALLET_PRIVATE_KEY}
      - DEVPN_TOKEN_ADDRESS=${DEVPN_TOKEN_ADDRESS}
      - TATUM_POLYGON_AMOY_URL=${TATUM_POLYGON_AMOY_URL}
      - TATUM_API_KEY=${TATUM_API_KEY}
    volumes:
      - .:/app
    depends_on:
      - redis
      - db

  sidekiq:
    build: .
    command: bundle exec sidekiq
    env_file:
      - .env
    environment:
      - RAILS_ENV=development
      - AI_ROUTING_URL=http://34.55.194.244:8000
      - REDIS_URL=redis://redis:6379/0
      - POSTGRES_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - REWARD_WALLET_PRIVATE_KEY=${REWARD_WALLET_PRIVATE_KEY}
      - DEVPN_TOKEN_ADDRESS=${DEVPN_TOKEN_ADDRESS}
      - TATUM_POLYGON_AMOY_URL=${TATUM_POLYGON_AMOY_URL}
      - TATUM_API_KEY=${TATUM_API_KEY}
    volumes:
      - .:/app
    depends_on:
      - redis
      - db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=devpn_backend
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:


